<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>M. K. Turner's Blog</title>
    <style>
        body {
            font-family: "Helvetica Neue", Helvetica, sans-serif;
            margin-top: 30px;
            color: dodgerblue;
        }
         .title{
             width: 80%;
             margin: 30px auto;
             border-bottom: 1px solid #DEDEDE;
         }
        a{
            text-decoration: none;
            color: dodgerblue;
        }
        h1 {
            font-size: 5em;
        }
    </style>
</head>
<body>
    <div class="title" align="center">
        <h1><a href="#">MKT Blog</a></h1>
    </div>
</body>
</html>